* {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(176, 200, 245);
    border: 1px solid rgb(114, 158, 254);
}

header {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0px;
    font-family: 'Verdana''uchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
}
.myName {
    /* display: flex; */
    flex: 50%;
    margin-top: 40px; 
    font-size: large;
    text-align: center;
    color:  rgb(8, 19, 76);

}
.myPhoto {
    margin-top: 5px; 
    justify-content: center;
    align-items:center;
}
.links {
    display: flex;
    flex: 90%;
    justify-content: flex-end;
    margin-top: 35px; 
    padding: 20px;
    align-items:center;
    font-weight: bolder;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: inline;
    padding: 0px 5px;
    text-decoration: none;
    font-size: x-small;
    color:  rgb(8, 19, 76);
}

.logo {
    width: 100%;
    height: 150px;
    padding: 1px;
    background-color: #4ec672;
}
.container {
    position: relative;
}
.logo_background {
    position: absolute;
    top: 0px;
    left: 0px;
}
.logo_image {
    position:absolute;
    top: 50px;
    left: 50px;
    align-content: center;
} 

.aboutMe {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0px;
    border: 1px solid black;
    margin: 0px;
    font-family: 'Verdana''uchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: blue;
}
.aboutMeTitle {
    flex: 20%;
    padding: 10px;
    border: 1px solid black;
    margin: 2px;
    justify-content: flex-start;
    text-align:left;
}
.aboutMeContent {
    display: flex;
    flex: 80%;
    padding: 10px;
    border: 1px solid black;
}
.work {
    display: flex;
    width: 100%;
    height: 600px;
    padding: 0px;
    border: 1px solid black;
    margin: 0px;
    background-color: hsl(339, 87%, 47%);  
    color: blue;

}
.workTitle {
    flex: 20%;
    padding: 20px;
    border: 1px solid black;
    margin: 2px;
    justify-content: flex-start;
    text-align:left;
}
.workContent {
    flex: 80%;
    /* display:block */
    padding: 0px;
    border: 1px solid black;
    justify-content: flex-start;
    text-align:right;
}
.korea {
    flex: 100%;
    width: 100%;
    height: 195px;
    padding: 0px;
    border: 1px solid black;
    justify-content: flex-start;
    text-align:left;
}

.workSecondRow {
    width: 100%;
    height: 200px;
    padding: 0px;
    /* border: 1px solid black; */
    margin: 0px;
    font-family: 'Verdana''uchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: flex;
}
.music {
    /* flex: 20%; */
    width: 50%;
    padding: 0px;
    border: 1px solid black;
    justify-content: flex-start;
    text-align:left;
}
.caligraphy {
    width: 50%;
    padding: 0px;
    border: 1px solid black;
    /* justify-content: flex-start; */
    text-align:left;
}

.workThirdRow {
    width: 100%;
    height: 200px;
    padding: 0px;
    border: 1px solid black;
    margin: 0px;
    font-family: 'Verdana''uchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: flex;
}
.cleopatra {
    /* flex: 20%; */
    width: 50%;
    padding: 0px;
    border: 1px solid black;
    justify-content: flex-start;
    text-align:left;
}
.bucklist {
    width: 50%;
    padding: 0px;
    border: 1px solid black;
    /* justify-content: flex-start; */
    text-align:left;
}

.contactMe {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0px;
    border: 1px solid black;
    margin: 0px;
    font-family: 'Verdana''uchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: blue;
}
.contactMeTitle {
    flex: 20%;
    padding: 10px;
    border: 1px solid black;
    margin: 2px;
    justify-content: flex-start;
    text-align:left;
}
.contactMeContent {
    flex: 80%;
    justify-content: flex-end;
    margin-top: 35px; 
    padding: 20px;
    font-weight: bolder;
}
.contactMeList {
    list-style: none;
    padding: 0;
    align-items:center;
    justify-content: end;
}
li {
    display: inline;
    padding: 0px 5px;
    text-decoration: none;
    font-size: x-small;
    color:  rgb(8, 19, 76);
}


.float-left {
        float: left;
        margin-right: 25px;
    }
.contact {
    width: 100%;
    height: 100px;
    padding: 1%;
    background-color: hsl(150, 71%, 41%);
}


